* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.container {
    width: 100%;
    height: 500vh;

}

.container .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    background-color: blanchedalmond;
    position: fixed;
    /* position: relative; */
}

.container .nav .logo {
    width: 25%;
    text-align: center;
}

.container .nav .responsive-nav {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .nav .responsive-nav .nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.container .nav .responsive-nav .nav-center li a {
    text-decoration: none;
    padding: 17px 25px;
    /* padding: 25px; */
}

.container .nav .responsive-nav .nav-center li a:hover {
    background-color: gray;
}

.container .nav .responsive-nav .nav-right {
    display: flex;
    align-items: center;
    justify-self: center;
}

.container .nav .responsive-nav .nav-right .input-box {
    width: 250px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 100px;
    margin-right: 10px;
}

.container .nav .responsive-nav .nav-right .input-box input {
    border: none;
    border-radius: 100px;
}

.container .nav .responsive-nav .nav-right .input-box i {
    /* width: 20px; */
    padding: 8px 10px;
    font-size: 20px;
    /* background-color: green; */
}

.container .nav .responsive-nav .nav-right i {
    padding: 8px 10px;
    font-size: 20px;
}

.container .nav .hamburger {
    /* text-align: center; */
    font-size: 20px;
    /* padding: 15px 0px; */
    display: none;
    transition: all 1s linear;
    animation: hamburger 1s linear infinite alternate;
    /* animation: animate 1s linear infinite alternate; */
}

@keyframes hamburger {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }

}

 @media (max-width:1280px) {
    .container .nav .hamburger {
        display: block;
    }
    .container .nav .responsive-nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        top: -100%;
        background-color: burlywood;
        left: 0px;
    }

    .container .nav .responsive-nav.active {
        top: 7.5%;
    }

    .container .responsive-nav .nav-center {
        display: flex;
        flex-direction: column;
        right: 0px;
        width: 100%;
    }

    .container .responsive-nav .nav-center li {
        width: 100%;
    }

    .container .responsive-nav .nav-center li a {
        width: 100%;
        padding: 10px;
        display: block;
        text-align: center;
    }
}  

.container .background-img {
    width: 100%;
    height: 100vh;
    background-image: url(../img/image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
}
.container .background-img .model{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .background-img .model h1{
    color: white;
    font-size: 3.5em;
}
.container .background-img .model h2{
    color: white;
    font-size: 2.5em;
}
.container .background-img .model p{
    color: white;
}
.container .background-img .model a{
    margin-top: 10px;
    display: block;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 15px;
    transition: all 0.3s linear;
}
.container .background-img .model a:hover{
    background-color: white;
    color: black;
}
@media (max-width:1280px) {
    .container .background-img .model h1{
        font-size: 3em;
    }
    .container .background-img .model h2{
        font-size: 2em;
    }
    .container .background-img .model p{
        font-size: 14px;
    }
    .container .background-img .model a{
        padding: 10px 15px;
    }
} 
@media (max-width:992px) {
    .container .background-img .model h1{
        font-size: 2.5em;
    }
    .container .background-img .model h2{
        font-size: 2em;
    }
    .container .background-img .model p{
        font-size: 14px;
    }
    .container .background-img .model a{
        padding: 10px 15px;
    }
}
@media (max-width:768px){
    .container .background-img .model h1{
        font-size: 2em;
    }
    .container .background-img .model h2{
        font-size: 1.5em;
    }
    .container .background-img .model p{
        font-size: 14px;
    }
    .container .background-img .model a{
        padding: 10px 15px;
    }
}
@media (max-width:600px) {
    .container .background-img .model h1{
        font-size: 1.5em;
    }
    .container .background-img .model h2{
        font-size: 1em;
    }
    .container .background-img .model p{
        font-size: 11px;
    }
    .container .background-img .model a{
        padding: 10px 15px;
    }
}
.container .capital{
    width: 100%;
    height: 100vh;
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: wheat;
    /* position: relative; */
    padding: 20px;
    /* z-index: 5; */
}
.container .capital .title{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    /* margin-top: 20vh; */
    /* justify-content: center; */
    align-items: center;
    /* justify-content: center; */
}
.container .capital .title .title-name{

    /* margin-top: 20px; */
    font-size: 3em;
    font-weight: bold;
    color: red;
    /* margin-top: 25vh; */
    /* margin-top: 0px; */
    text-align: center;
    /* margin-bottom: px; */
}
.container .capital .title .title-line{
    border: 2px solid red;
    width: 270px;
    margin-bottom: 10px;
}
.container .capitail .description{
    width: 100%;
    display: flex;
    height: 85%;
    align-items: center;
    justify-content: space-evenly;
}
.container .capital .description .image {
    width: 100%;
    height: 50%;
}
.container .capital .description .image img{
    width: 100%;
    height: 100%;
}
.container .capital .description .description-title{
    font-size: 2em;
    color: black;
    text-align: center;
}
.container .capital .description p{
    margin-bottom: 10px;
}
.container .capital .description a{
    /* display: block; */
    /* display: flex; */
    text-decoration: none;
    background-color: white;
    color: black;
    margin-right: auto;
    padding: 10px 15px;
    margin-top: 10px;
}
@media (max-width:1280px){
    .container .capital .title .title-name{
        font-size: 2.5em;
    }
    .container .capital .description .description-title{
        font-size: 2em;
    }
    .container .capital .description .image{
        width: 90%;
        height: 40%;
    }
    .container .capital .description p{
        font-size: 14px;
    }
}
.container .city{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: burlywood;
    max-width: 70%;
    margin: auto;
}
.container .city .city-title{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.container .city .city-title .title{
    font-size: 3em;
    
}
.container .city .city-title .line{
    width: 270px;
    border: 1px solid red;
    margin-bottom: 15px;
    
}
.container .city .contain-description{
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
    padding: 0px 20px;
}
.container .city .contain-description .description{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}
.container .city .contain-description .description .description-title{
    font-size: 2em;
    margin-top: -10px;
}
.container .city .contain-description .image{
    width: 100%;
    height: 50%;
}
.container .city .contain-description .image img{
    width: 100%;
    height: 100%;
}
.container .city .contain-description p{
 text-indent: 30px;
 text-align: justify;
}
.container .city .contain-description a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 15px;
    transition: all 1s linear ;
    margin-right: auto;
}
.container .city .contain-description a:hover{
    background-color: white;
    color: black;
}
.container .contact{
    width: 100%;
    height: 100vh;
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    align-items: center;
    /* justify-content: center; */
}
.container .contact .title{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.container .contact .title .contact-title{
    font-size: 3em;
}
.container .contact .title .line{
    width: 270px;
    border: 2px solid red;
}
.container .contact .form{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
}
.container .contact .form form{
    width: 80%;
    height: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    
}
.container .contact .form form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
.container .contact .form form textarea{
    margin-bottom: 20px
}
.container .contact .form form div{
    margin-left: auto;
    /* width: 100%; */
}
.container .contact .form form div a{
    /* width: 100%;  */
    /* display: block; */
    text-decoration: none;
    padding: 15px 15px;
    color: white;
    background-color: black;
    margin-top: 20px;
    margin-left: auto;
}
.container .footer{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.container .footer .social-icon img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding: 10px;
    background-color: white;
    margin-right: 25px;
}
.container .footer .nav-center{
    display: flex;
    list-style: none;
    
}
.container .footer .nav-center li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 15px 15px 0px 0px;
    font-size: 16px;
}